@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('fonts/AtkinsonHyperlegibleNext.woff2') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('fonts/AtkinsonHyperlegibleMono.woff2') format('woff2');
  font-style: monospace;
}
